.carousel {
  display: flex;
  cursor: pointer;
  svg {
    transition: transform 0.3s ease;
    &:hover {
      &.leftarrow {
        transform: translateX(-6px);
      }
      &.rightarrow {
        transform: translateX(6px);
      }
    }
  }
}

.footer-carousel {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin-bottom: 99px;
  margin-right: 97px;
}