.dropdown {
  position: relative;
  z-index: 2;
  top: 0;
  width: 500px;
  height: 96px;
  p {
    text-align: left;
  }

  .dropdown-header {
    width: 100%;
    height: 72px;
    position: absolute;
    bottom: 0;
    background: white;
    cursor: pointer;
    svg {
      &.open {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown-title {
    text-align: left;
    position: absolute;
    bottom: 0;
    margin-left: 12px;
  }

  .chevron-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 24px;
    margin-bottom: 30px;
    svg {
      transition: transform 0.3s ease;
    }
  }
}

.options-container {
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
  max-height: 0px;
  margin-top: 96px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  &.open {
    max-height: 500px;
  }
  .options {
    position: absolute;
    z-index: 1;
    top: 0;
    background: white;
    width: 488px;
    text-align: left;
    padding-left: 12px; 
    padding-top: 12px;
    padding-bottom: 24px;
  }
}
