.fonts {
  &.header-1 {
    font-family: 'Portrait-Regular';
    font-weight: normal;
    font-size: 48px;
    color: #454545;
    letter-spacing: 1.5px;
    line-height: 48px;
  }
  &.header-2 {
    font-family: 'Portrait-Regular';
    font-weight: normal;
    font-size: 30px;
    color: #454545;
    letter-spacing: 0.5px;
    line-height: 36px;
  }
  &.utility {
    font-family: 'WorkSans-Regular';
    font-weight: normal;
    font-size: 14px;
    color: #454545;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  &.subheader {
    font-family: 'WorkSans-Medium';
    font-weight: normal;
    font-size: 14px;
    color: #CCC9C7;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
}

