.footer {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .view-all {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin-top: 120px;
    margin-right: 100px;
  }
}
.footer-title {
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 80px;
}
.image-slider-container {
  position: absolute;
  z-index: 1;
  height: 600px;
  padding-bottom: 200px;
  width: 100%;
  background: #DAE4EE;
  overflow-y: hidden;
  overflow-x: scroll;
  .image-slider-flexbox {
    display: flex;
    margin-left: 128px;
    margin-top: 168px;
    margin-bottom: 144px;
  }
  .footer-image, .footer-background {
    width: 500px;
    height: 288px;
  }
  .footer-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 24px;
    &:hover {
      .label {
        margin-bottom: 0px;
      }
      .footer-background {
        transform: scale(1.05, 1.05);
      }
    }
  }
  .footer-background {
    position: absolute;
    z-index: 1;
    transition: transform $transition-style-1;
  }
}