$transition-style-1: 0.3s ease-in-out;

*:focus {
    outline: none;
}

a {
  outline: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:hover, &:visited, &:active {
    color: #454545;
  }
}