.div-one, .div-two {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 12px;
  &:hover {
    .label {
      margin-bottom: 0px;
    }
  }
}

.div-one {
  width: 290px;
  height: 384px;
  background: lightgrey;
}

.div-two {
  width: 395px;
  height: 300px;
  background: grey;
}

section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1152px;
  margin: auto;
  margin-right: 24px;
  &.align-top {
    align-items: flex-start;
    &.fourth {
      div:nth-child(2), div:last-child {
        margin-top: -72px;
      }
    }
  }
  &.align-end {
    align-items: flex-end;
    margin-top: -84px;
    div:last-child {
      align-self: flex-start 
    }
  }
  &.align-center {
    align-items: center;
    div {
      align-self: flex-start;
      &:last-child {
        margin-top: -72px;
      }
    }
  }
}

