.label {
  background: white;
  width: 225px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -48px;
  transition: margin-bottom $transition-style-1;
  z-index: 2;
  p {
    position: absolute;
    left: 0;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}