.main-menu-link {
  display: inline-block;
  cursor: pointer;
  .header-1 {
    &:hover + .header-underline {
      opacity: 1;
    }
  }
  .header-underline {
    width: 100%;
    height: 1px;
    background: black;
    margin-bottom: 36px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
  }
}

.mobile-menu-link {
  width: calc(100% - 48px);
  margin: auto;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  &:hover {
    .nav-chevron {
      transform: translateX(6px);
    }
  }
  .nav-chevron {
    margin-top: 4px;
    transition: transform 0.3s ease;
  }
}

.sub-link {
  cursor: pointer;
  margin-bottom: 24px;
}