.menu-bar {
  width:80px;
  height: 672px;
  position: absolute;
  z-index: 5;
  // left: 0;
  margin-top: 24px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
  .menu-bar-inner {
    position: relative;
    height: 672px;
    width: 80px;
  }
  .menu-logo {
    margin-top: 24px;
    margin-left: 18px;
  }
  .menu-title {
    position: absolute;
    left: 0;
    margin-left: -116px;
    margin-top: 274px;
    transform: rotate(-90deg);
    width: 300px;
    text-align: center;
  }
  .menu-icon-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    margin-left: 28px;
  }
}